:root{
    --slide-count: 5;
    --slide-height: 180px;
    --slide-width: 180px;
    --gap: 7px;
    --time: 15s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body{
    height: 100vh;
    font-family: "Nunito", sans-serif;
}


section{
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100vh;
    background: #28282c;
    overflow: hidden;
}


.sliders{
    margin-top: 10%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.slider-container{
    width: var(--slide-width);
    height: var(--slide-height); /* вместо 20vh */
    background: transparent;
    position: relative;
}

.slider-track{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
}

#slider1 .slider-track,
#slider3 .slider-track {
    animation: moveLeft calc(var(--time) * var(--slide-count)) linear infinite;
}

#slider2 .slider-track {
    animation: moveRight calc(var(--time) * var(--slide-count)) linear infinite;
}




.slide{
    width: var(--slide-width);
    height: var(--slide-height);
    display: flex;
    align-items: center;
    margin:0  var(--gap);
    cursor: pointer;
}

.slide img{
    border-radius: inherit;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(
            calc(-1 * var(--slide-count) * var(--slide-width))
        );
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(
            calc(-1 * var(--slide-count) * var(--slide-width))
        );
    }
    100% {
        transform: translateX(0);
    }
}



.music-player{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.music-buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}