*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    position: relative;
    height: 100%;
    font-family: Helvetica, Arial,  sans-serif;
}

section{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.hero{
    position: absolute;
    bottom: -320px;
    left: 35%;
    z-index: 5;
    max-width: 550px;
    filter: contrast(90%);
    pointer-events: none;
}


.swiper{
    width: 100%;
    height: 100%;
}


.swiper-slide{
    position: relative;
    text-align: center;
    font-size: 1.25rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    letter-spacing: 0.3rem;
    z-index: 5;
    
    /* делаем текст прозрачным, но видимым через фон */
    color: transparent;
    
    background: url('green_trapezoids.gif') repeat;
    background-size: cover; /* масштабирование */
    -webkit-background-clip: text;
    background-clip: text;
    
    animation: animated-text 20s linear infinite;
}



@keyframes animated-text{
    100%{
        background-position: 200% 0;
    }
}


.one .five{
    -webkit-text-stroke: 1px white;
    background: url(green_trapezoids.gif);
    background-clip: text;
    -webkit-background-clip: text;
}